:root {
    --skew-value: 20deg;
}

body {
    width: 100%;
    margin: 0;
    padding: 10;

}

header {
    /* background-color: white; */
    background-color: #ff1e00;
    margin-right: 50%;
    transform: skew(var(--skew-value));
}

h1 {
  color: black;
  margin-left: 10%;
}

P {
    margin-left: 10%;
    color: white;
    font-size: 40px;
    transform: skew(calc(var(--skew-value) * -1));
} 

/* input.text.texttospeechfield{
    padding: 10%;
    width: 100%;
    height: 50%;
} */
input[type="text"] { 
    background-color: rgb(186, 186, 186);
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    width: 100%;
    height: 50%; 
}
input[type="submit"] { 
    background-color: white;
    border-color: #ff1e00;
    color: #ff1e00;
    width: 150px;
    margin-left: 80%;
}